/* ===============================
   TOOLBAR BASE
   =============================== */

.app-toolbar {
    -fx-padding: 6 10 6 10;
    -fx-background-color: -color-bg-default;
}

.toolbar-button {
    -fx-background-color: transparent;
    -fx-padding: 6;
    -fx-cursor: hand;
}

/* icone base */
.toolbar-button .ikonli-font-icon {
    -fx-icon-size: 32px;
    -fx-icon-color: -color-fg-muted;
}

/* ===============================
   SAVE (accent)
   =============================== */

.toolbar-save .ikonli-font-icon {
    -fx-icon-color: -color-accent-emphasis;
}

.toolbar-save:hover .ikonli-font-icon {
    -fx-icon-color: -color-accent-fg;
}

/* ===============================
   DELETE (danger)
   =============================== */

.toolbar-delete .ikonli-font-icon {
    -fx-icon-color: -color-danger-emphasis;
}

.toolbar-delete:hover .ikonli-font-icon {
    -fx-icon-color: -color-danger-fg;
}

/* ===============================
   NEUTRAL hover
   =============================== */

.toolbar-neutral:hover .ikonli-font-icon {
    -fx-icon-color: -color-accent-emphasis;
}

/* ===============================
   Hover background
   =============================== */

.toolbar-button:hover {
    -fx-background-color: -color-bg-subtle;
    -fx-background-radius: 6;
}